/*
Tweets
*/
.card {
  @apply flex-col items-center content-center mx-0 overflow-hidden;
  @apply relative transition-all;
  @apply border-t border-gray-500 border-opacity-10 md:border md:border-opacity-10 md:rounded;
  @apply lg:hover:bg-shadeyellow-100;
}

.card_body {
  @apply h-full justify-items-stretch;
}

.card_header {
  @apply pb-0 flex flex-row justify-between items-center;
}

.card_footer {
  @apply text-sm pt-1 pb-0 md:pb-4;
}

.card_body__header {
  @apply mb-4 flex flex-row justify-between;
}

.card_body__main {
  @apply flex flex-col pb-1;
}

.card_title {
  @apply text-sm md:text-base font-semibold;
}

.card_text {
  @apply text-sm text-gray-700 transition-colors;
}

.card:hover .card_text {
}

.card_media {
  @apply mt-4 w-auto h-auto w-full overflow-hidden;
  @apply bg-no-repeat bg-cover bg-center;
  @apply border border-gray-900 border-opacity-10 rounded-lg;
  min-height: 8rem;
  max-height: 10rem;
}

@media only screen and (max-width: 640px) {
  .card_media {
    min-height: 12rem;
    max-height: 14rem;
  }
}

.card_media img {
  @apply w-auto h-auto opacity-0;
}

/* 
Card Icon
*/
.icon_twitter {
  @apply text-lg text-blue-200 transition transform scale-90;
  @apply absolute right-4 top-4;
}

.card:hover .icon_twitter {
  @apply text-blue-500 scale-100;
}

/* 
Metadata 
*/
.tweet_metadata {
  @apply mr-1.5;
}

.tweet_metadata + .tweet_metadata {
  &::before {
    @apply mr-1 leading-4;
  }
}

.card_header .tweet_metadata_wrapper {
  @apply pr-5 ;
}

.card_header .tweet_metadata_wrapper + .tweet_metadata_wrapper {
  @apply pr-0 flex-wrap;
}

.card_footer .tweet_metadata_wrapper {
  @apply w-full justify-between;
}

.tweet_metadata_name {
  @apply block text-base font-semibold text-gray-900 text-opacity-100 mb-0.5 truncate;
  width: 240px;
}

/* @media (min-width: 768px) {
  .tweet_metadata_name {
    max-width: 220px;
  }
}

@media (min-width: 1024px) {
  .tweet_metadata_name {
    max-width: 220px;
  }
} */

/* .card:hover .tweet_metadata_wrapper svg {
  opacity: 1;
}

.card:hover .tweet_metadata_favoritecount svg {
  fill: #EF4444;
}

.card:hover .tweet_metadata_retweetcount svg {
  fill: #10B981;
}

.card:hover .tweet_metadata_commentcount svg {
  fill: #2563EB;
} */