.chart {

}

.path {
  stroke-width: 3;
  fill: none;
}
  
.axis {
  @apply opacity-5;
  stroke-width: 1;
  stroke: #111827;
}
  
.pointer {
  fill: #fff;
  stroke-width: 1;
}

.area {
  padding: 8px;
  fill: #64B5F6;
  stroke: none;
  opacity: .4;
}
  
.label {
  @apply text-xs;
}
  
.hover_line {
  stroke: #7D95B6;
  stroke-width: 1;
}