@import "../_animations";

/* 
Headers
--------------------------------------------- */
.header {
  @apply overflow-hidden;
  animation: fadein 1s ease;
}

.header_inner {
  @apply flex relative;
  @apply bg-gradient-to-br from-gray-600 to-gray-500;
}

.header_body {
  @apply p-4 flex flex-col max-w-screen-sm lg:w-3/4;
}

.header_title {
  @apply text-xl leading-8 lg:text-2xl lg:leading-snug font-medium text-white;
}

.header_text {
  @apply text-base lg:text-base font-light text-white text-opacity-80 mt-2;
}

/* 
Category Header 
*/
.header[type="defi"],
.header[type="Metadata"],
.header[type="problem"] {
  @apply bg-gradient-to-br from-red-500 to-red-400;
}

.header[type="token"] {
  @apply bg-gradient-to-br from-green-500 to-green-400;
}

.header[type="marketing"],
.header[type="nft"] {
  @apply bg-gradient-to-br from-purple-500 to-purple-400;
}

.header[type="dapp"],
.header[type="ecosystem"] {
  @apply bg-gradient-to-br from-blue-500 to-blue-400;
}

.header[type="dao"] {
  @apply bg-gradient-to-br from-blue-600 to-blue-500;
}

.card[type="utilities"] {
  @apply bg-gradient-to-br from-yellow-500 to-yellow-400;
}

/* Animation */
.floating {
  @apply relative mt-8 -mb-40 lg:mt-16 lg:-mb-48;
  animation: floating 16s infinite ease-in-out;
  will-change: transform;
}
