@import "../_animations";

.header {
  @apply overflow-hidden;
  @apply bg-gradient-to-br from-purple-900 to-purple-500;
  animation: fadein 1s ease;
}

.header_inner {
  @apply flex relative;
}

.header_body {
  @apply py-8 md:py-12 lg:py-16 w-full lg:w-3/5;
}

.header_media {
  @apply absolute inset-0 left-auto w-2/3 md:w-2/5;
  @apply opacity-50 lg:opacity-100;
}

.header_title {
  @apply text-2xl leading-8 lg:text-4xl lg:leading-snug font-medium text-white;
}

.header_text {
  @apply text-base lg:text-lg font-light text-white text-opacity-70 mt-2;
}

/* Animation */
.floating {
  @apply relative;
  animation: floating 120s infinite ease-in-out;
  will-change: transform;
}
