/*
Scrollbar
*/
.scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border-radius: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
  border-radius: 12px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.2);
}


/* 
Category Scrollbar  
*/
.category_scroll {
  @apply flex flex-nowrap relative pb-6;
}

/* 
Media Scrollbar  
*/
.media_scroll {
  @apply flex flex-nowrap relative pb-4 mb-4;
}