@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeinheight {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 100;
    height: 50px;
  }
}


@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 100;
  }
  70% {
    opacity: 50;
  }
  100% {
    opacity: 100;
  }
}

@keyframes expanded-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes collapsed-width {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes slidedown-caret {
  0% {
    top: 0;
    bottom: 0;
  }
  50% {
    top: -2px;
    bottom: auto;
  }
  80% {
    top: auto;
    bottom: -1px;
  }
  100% {
    top: 0;
    bottom: 0;
  }
}

@keyframes floating {
  0% {
    transform: translate3d(0,-20%,0) rotate(0deg) scale(0.9);
    opacity: 0.1;
  }
  50% {
    transform: translate3d(0,0,0) rotate(90deg) scale(1.3);
    opacity: 0.4;
  }
  100% {
    transform: translate3d(0,-20%,0) rotate(0deg) scale(0.9);
    opacity: 0.1;
  }
}