@import "_animations";

/*
Buttons
*/
.btn {
  @apply inline-flex items-center font-medium focus:outline-none cursor-pointer transition;
  @apply rounded;

  .icon {
    @apply relative;
  }

  .btn--text + .icon {
    @apply ml-2;
  }

  .icon + .btn--text {
    @apply ml-2;
  }

  &:hover, &:active, &:focus {
    outline: none;
  }
}

.btn-rounded {
  @apply rounded-full;
}

/*
Buttons Styles
*/
.btn-default {
  @apply text-sm font-medium text-gray-900 bg-white border border-transparent;
  @apply hover:bg-primary-50 hover:border-primary-500 hover:text-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white;
  @apply dark:text-white dark:bg-gray-800;
  @apply dark:hover:bg-deeppurple-300 dark:hover:border-primary-500;
}

.btn-primary {
  @apply bg-primary-700 text-primary-100 hover:bg-primary-900 hover:text-white;
}

.btn-secondary {
  @apply bg-secondary-400 text-secondary-900 hover:bg-primary-100 hover:text-primary-700;
}

/*
Vote Buttons
*/
.btn-post-vote {
  @apply px-2 py-1 justify-center;
  @apply border border-gray-400 border-opacity-40;
  @apply hover:border-green-500 hover:bg-green-50 hover:text-green-500;
  @apply dark:hover:bg-transparent dark:hover:text-white;
}

.btn-post-vote.active,
.btn-post-vote_sm.active {
  @apply bg-green-500 text-white;
}

.btn-post-vote_sm {
  @extend .btn-post-vote;
  @apply bg-white border border-gray-900 border-opacity-10 md:border-opacity-5;
  @apply px-2 py-1 md:px-5 md:py-4;
  @apply dark:bg-deepgray-100;
}

.card .btn-post-vote,
.card .btn-post-vote_sm {
  strong {
    @apply font-normal;
  }
}

.btn-post-vote_sm .btn-post-vote_total {
  @apply leading-none;
}

/* 
Link Visit Button 
*/
.btn-post-link {
  @apply text-sm justify-center items-center px-0 py-1 relative;
}

.btn-post-link .icon {
  @apply text-sm;
}

/* 
Nav Button
*/
.nav-btn {
  @apply px-2 py-1 items-center justify-center;
  @apply text-sm font-medium text-gray-900 dark:text-white border border-transparent;
  @apply bg-gray-500 bg-opacity-10 dark:bg-gray-200 dark:bg-opacity-10;
}

@media (hover: hover) and (pointer: fine) {
  .nav-btn {
    @apply hover:bg-primary-50 hover:border-purple-500 hover:text-primary-700 focus:outline-none focus:ring-0;
    @apply dark:hover:text-white dark:hover:bg-deeppurple-300 dark:hover:border-primary-500;
  }
}

.nav-btn.active {
  @apply text-primary-700 dark:text-primary-400;
}

.nav-btn .icon {
  @apply text-sm;
}

.btn-open-widgets {
  @apply md:hidden;
  .btn--text {
    @apply hidden lg:inline-block;
  }
}

/* 
Wallet Button 
*/
.btn-connect-wallet {
  .btn--text {
    @apply hidden md:inline-block;
  }
}


/* 
Theme / Language Button 
*/
.btn-switch-theme {
  .btn--text {
    @apply hidden lg:inline-block;
  }
}

.btn-switch-lang {
  .icon {
    @apply w-px-16;
  }
}


/* 
Group Buttons 
*/
.btn-group {
  @apply flex justify-evenly;
}

.btn-group-filter {
  @apply rounded text-xs;
  @apply bg-gray-400 bg-opacity-10 dark:bg-gray-200 dark:bg-opacity-10;
  padding: 3px;
}

/* .btn-group-filter {
  @apply text-xs space-x-2 lg:space-x-4;
} */

.btn-filter,
.btn-filter-active {
  @apply px-2 py-1 justify-center relative;
  @apply rounded bg-transparent opacity-50;
}

.btn-filter-active {
  @apply justify-center cursor-pointer pointer-events-none;
  @apply bg-white text-opacity-100 dark:text-white dark:bg-deepgray-100 shadow-sm opacity-100;
}

/* .btn-filter:hover,
.btn-filter-active {
  @apply opacity-100;
}

.btn-filter::after,
.btn-filter-active::after {
  @apply block w-full absolute bottom-0 left-0 right-0;
  @apply bg-gray-800 dark:bg-white;
  content: " ";
  height: 0;
  transition: all 150ms linear;
}

.btn-filter-active {
  @apply opacity-100;
  &:after {
    height: 3px;
  }
} */

/*
"Show More" Button
*/
.btn-nav {
  @apply justify-center py-2 px-4 w-full;
  @apply bg-gray-400 bg-opacity-10 hover:bg-purple-100 hover:text-purple-700;
  @apply text-sm;
  @apply dark:text-white dark:hover:bg-deeppurple-100;
}

.btn-loading {
  @apply justify-center py-2 px-4 w-full;
  @apply bg-gray-100 hover:bg-purple-100 hover:text-purple-700;
  @apply text-sm;
}

/* 
Button Caret
*/
.btn--caret-down,
.btn--caret-right,
.btn--caret-left,
.btn--caret-up {
  @apply relative transition-all left-0 right-0;
  height: 8px;
  width: 8px;
  border-bottom: 2px solid;
  border-right: 2px solid;
}

.btn--caret-right {
  @apply ml-1.5;
  transform: rotate(-45deg);
}

.btn:hover .btn--caret-right {
  @apply -right-0.5;
}

.btn--caret-left {
  @apply mr-1;
  transform: rotate(135deg);
}

.btn:hover .btn--caret-left {
  @apply -left-0.5;
}

.btn--caret-down {
  @apply ml-1 -mt-0.5;
  transform: rotate(45deg);
}

.btn--caret-up {
  @apply ml-1 -mb-0.5;
  transform: rotate(-135deg);
}

/* Dropdown Button */
.dropdown-arrow {

}

/* Page Back Button */
.page-back .btn {
  @apply text-sm opacity-50 hover:opacity-100;
}

/* Close Button */
.btn-close {
  @apply text-sm font-normal transition justify-center items-center rounded-full;
  @apply text-gray-900 bg-gray-500 bg-opacity-10 border border-transparent;
  @apply hover:bg-primary-50 hover:border-purple-500 hover:text-primary-700 focus:outline-none focus:ring-0;
  @apply dark:text-white dark:bg-gray-400 dark:bg-opacity-20;
  @apply dark:hover:bg-deeppurple-300 dark:hover:border-primary-500;
}

.btn-close .btn--text {
  @apply text-xxxs uppercase !mx-0;
}


/* Comment Form Button */
.comment-btn {
  @apply text-sm justify-center px-0 w-20 text-gray-500 rounded bg-gray-100 hover:bg-primary-100 hover:text-primary-700 border border-transparent hover:border-primary-500 leading-4;
  @apply dark:bg-gray-700 dark:text-gray-200 dark:hover:text-white;
}