@import "_animations";

/*
Buttons
*/

.btn {
  @apply inline-flex items-center font-medium focus:outline-none cursor-pointer transition;

  .btn--text + .icon {
    @apply ml-2;
  }

  .icon {
    @apply relative right-0;
  }

  .btn--text + .icon {
    @apply ml-2;
  }

  .icon + .btn--text {
    @apply ml-2;
  }

  &:hover, &:active, &:focus {
    outline: none;
  }
}

/*
Buttons Styles
*/
.btn-default {
  @apply rounded-md;
  @apply text-sm font-medium text-gray-900 bg-white border border-transparent;
  @apply hover:bg-primary-50 hover:border-primary-500 hover:text-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white;
  @apply dark:text-white dark:bg-gray-800;
  @apply dark:hover:bg-deeppurple-300 dark:hover:border-primary-500;
}

.btn-primary {
  @apply bg-primary-700 text-primary-100 hover:bg-primary-900 hover:text-white;
}

.btn-secondary {
  @apply bg-secondary-400 text-secondary-900 hover:bg-primary-100 hover:text-primary-700;
}

/*
Vote Buttons
*/
.btn-post-vote {
  @apply px-2 py-1 justify-center;
  @apply border border-gray-400 border-opacity-40 rounded;
  @apply hover:border-green-500 hover:bg-green-50 hover:text-green-500;
  @apply dark:hover:bg-transparent dark:hover:text-white;
}

.btn-post-vote.active,
.btn-post-vote_sm.active {
  @apply bg-green-500 text-white;
}

.btn-post-vote_sm {
  @extend .btn-post-vote;
  @apply bg-white border border-gray-900 border-opacity-10 md:border-opacity-5;
  @apply px-2 py-1 md:px-5 md:py-4;
  @apply dark:bg-deepgray-100;
}

.card .btn-post-vote,
.card .btn-post-vote_sm {
  strong {
    @apply font-normal;
  }
}

.btn-post-vote_sm .btn-post-vote_total {
  @apply leading-none;
}

/* 
Link Visit Button 
*/
.btn-post-link {
  @apply text-sm justify-center items-center px-0 py-1 rounded relative;
}

.btn-post-link .icon {
  @apply text-sm;
}

/* 
Nav Button
*/
.nav-btn {
  @apply px-2 py-1 items-center justify-center rounded;
  @apply text-sm font-medium text-gray-900 bg-gray-500 bg-opacity-10 border border-transparent;
  @apply hover:bg-primary-50 hover:border-purple-500 hover:text-primary-700 focus:outline-none focus:ring-0;
  @apply dark:text-white dark:bg-gray-400 dark:bg-opacity-20;
  @apply dark:hover:bg-deeppurple-300 dark:hover:border-primary-500;
}

.nav-btn.active {
  @apply text-primary-700 dark:text-primary-400;
}

.nav-btn .icon {
  @apply text-sm;
}

.btn-open-widgets {
  @apply md:hidden;
  .btn--text {
    @apply hidden lg:inline-block;
  }
}

/* 
Wallet Button 
*/
.btn-connect-wallet {
  .btn--text {
    @apply hidden md:inline-block;
  }
}


/* 
Theme / Language Button 
*/
.btn-switch-theme {
  .btn--text {
    @apply hidden lg:inline-block;
  }
}

.btn-switch-lang {
  .icon {
    @apply w-px-16;
  }
}


/* 
Group Buttons 
*/
.btn-group {
  @apply flex justify-evenly;
}

.btn-group-filter {
  @apply rounded px-1 py-1 bg-gray-100 dark:bg-gray-900 text-xs;
}

.btn-filter {
  @apply px-2 lg:px-4 py-1 justify-center;
  @apply rounded bg-transparent text-gray-900 dark:text-white text-opacity-50 dark:text-opacity-50;
}

.btn-filter-active {
  @apply px-2 lg:px-4 py-1 justify-center;
  @apply rounded bg-white text-opacity-100 dark:text-white dark:bg-gray-700 shadow-sm;
}

/*
"Show More" Button
*/
.btn-nav {
  @apply justify-center py-2 px-4 w-full;
  @apply bg-gray-100 hover:bg-purple-100 hover:text-purple-700 rounded;
  @apply text-sm;
  @apply dark:text-white dark:bg-gray-900;
  @apply dark:hover:bg-deeppurple-100;
}

.btn-loading {
  @apply justify-center py-2 px-4 w-full;
  @apply bg-gray-100 hover:bg-purple-100 hover:text-purple-700 rounded;
  @apply text-sm;
}

/* 
Button Caret
*/
.btn--caret-down,
.btn--caret-right,
.btn--caret-left,
.btn--caret-up {
  @apply relative;
  height: 6px;
  width: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
}

.btn--caret-right {
  @apply ml-1;
  transform: rotate(-45deg);
}

.btn--caret-left {
  @apply mr-1;
  transform: rotate(135deg);
}

.btn--caret-down {
  @apply ml-2 -mt-0.5;
  transform: rotate(45deg);
}

.btn--caret-up {
  @apply ml-2 -mb-0.5;
  transform: rotate(-135deg);
}

/* Dropdown Button */
.dropdown-arrow {

}

/* Page Back Button */
.page-back .btn {
  @apply text-sm font-normal;
  @apply hover:text-primary-700 dark:hover:text-primary-500;
}

/* Close Button */
.btn-close {
  @apply text-sm font-normal transition justify-center items-center rounded-full;
  @apply text-gray-900 bg-gray-500 bg-opacity-10 border border-transparent;
  @apply hover:bg-primary-50 hover:border-purple-500 hover:text-primary-700 focus:outline-none focus:ring-0;
  @apply dark:text-white dark:bg-gray-400 dark:bg-opacity-20;
  @apply dark:hover:bg-deeppurple-300 dark:hover:border-primary-500;
}

.btn-close .btn--text {
  @apply text-xxxs uppercase !mx-0;
}


/* Comment Form Button */
.comment-btn {
  @apply text-sm justify-center px-0 w-20 text-gray-500 rounded bg-gray-100 hover:bg-primary-100 hover:text-primary-700 border border-transparent hover:border-primary-500 leading-4;
  @apply dark:bg-gray-700 dark:text-gray-200 dark:hover:text-white;
}