/* 
Various UI Components Style
*/


/* Steps
-------------------------------*/
.steps {
  @apply flex-col md:flex-row;
  @apply bg-gray-100 bg-gradient-to-r dark:bg-primary-900 dark:from-primary-900 dark:to-primary-900 divide-x divide-gray-300 divide-opacity-20 lg:divide-x-0;
}

.steps-compact {
  @apply rounded-t-lg flex md:flex-row w-full 
         border-b border-transparent
       bg-gray-100 dark:bg-gray-900;
}

.steps-compact > li {
  @apply flex-1 relative z-10 px-2 py-2 md:p-4;
}

.step-compact a {
  @apply flex ;
}
.step-compact-body {
  @apply flex flex-col md:flex-row items-center;
}
.step-compact-body--icon {
  @apply dark:bg-gray-500 bg-gray-300 w-6 h-6 md:w-8 md:h-8 
           font-semibold flex items-center text-center rounded-full md:mr-2 static;
}
.step-compact-body--icon--text {
  @apply m-auto text-xs w-1/2;
}
.button-compact-body--icon--text {
  @apply mr-1 text-xs w-4;
}

.step-compact-body--content {
  @apply mt-2 md:mt-0;
}
.step-compact-body--title {
  @apply block flex-shrink-0 flex-grow w-full text-xs md:text-sm text-gray-600 dark:text-gray-300 ;
}
.step-compact-body--text {
  @apply flex-shrink-0 flex-grow w-full text-gray-500 text-xs md:text-xs hidden lg:block;
}


/* Current state */
.step-compact.is-current {
  @apply bg-white dark:bg-gray-800 rounded-t-lg shadow-lg border-transparent;
  margin-bottom: -1px;
}
.step-compact.is-current .step-compact-body--title{
  @apply font-semibold;
}
.step-compact.is-current .step-compact-body--text {
  @apply dark:text-gray-300;
}
.step-compact.is-current .step-compact-body--icon{
  @apply bg-green-600;
}
.step-compact.is-current .step-compact-body--icon .step-compact-body--icon--text {
  @apply text-white;
}
.step-compact.is-current .step-compact-body--title {
  @apply flex-shrink-0 flex-grow w-full text-green-600 dark:text-green-400 ;
}


/* Complete state*/
.step-compact.is-complete .step-compact-body--icon{
  @apply dark:bg-gray-500 bg-gray-300 ;
}
.step-compact.is-complete .step-compact-body--icon .step-compact-body--icon--text {
  @apply dark:text-white text-gray-600;
}
.step-compact.is-complete .step-compact-body--title{
  @apply text-gray-500 dark:text-gray-400;

}
.step-compact-body--text {
  @apply flex-shrink-0 flex-grow w-full text-gray-500;
}

.step-body {
  @apply px-6 py-4 flex w-full items-center text-sm font-medium cursor-default;
}

/* Current */
.step--current {
}
.step {
  @apply flex flex-1 relative;
}
/* 
Step Icons 
*/
.step-body--icon {
  @apply flex flex-shrink-0 w-8 h-8 items-center justify-center rounded-full;
  @apply border-2 border-gray-400;
}

/* Current */
.step--current .step-body--icon {
  @apply border-primary-600 dark:border-white rounded-full;
}

/* Completed */
.step--completed .step-body--icon {
  @apply border-green-400 bg-green-400 dark:border-green-600 dark:bg-green-600 rounded-full;
}

/* 
Step Icons Text
*/
.step-body--icon--text {
}

/* Current */
.step--current .step-body--icon--text {
  @apply text-primary-600 dark:text-white;
}

/* Completed */
.step--completed .step-body--icon--text {
  @apply text-white dark:text-white;
}

/* 
Step Content
*/
.step-body--content {
  @apply flex flex-col ml-4;
}

/* 
Step Title 
*/
.step-body--title {
  @apply text-base font-medium;
}

/* Current */
.step--current .step-body--title {
  @apply font-medium text-primary-600 dark:text-white;
}

/* Completed */
.step--completed .step-body--title {
  @apply border-primary-600 rounded-full;
}


/* 
Step Text
*/
.step-body--text {
  @apply hidden md:block text-xs mt-0.5 opacity-50;
}

/* Current */
.step--current .step-body--text {
}

/* Completed */
.step--completed .step-body--text {
}

/* .step--arrow {
  @apply hidden md:block absolute top-0 right-2 h-full w-6;
} */


/* Boxes (alternate for Card)
-------------------------------*/
.box {
  @apply bg-white border border-gray-200 dark:border-gray-700 dark:bg-gray-700 rounded-lg;
  @apply text-sm flex flex-col;
}

.box-header {
  @apply p-4 lg:px-4 lg:py-4 text-base font-medium border-b border-gray-200 dark:border-gray-700; 
}

.box-body {
  @apply p-4 lg:p-6 flex-shrink-0 flex-grow;
}

/* 
Box Colors
*/
.box--primary {
  @apply bg-black border-transparent dark:bg-black dark:border-transparent text-white;
}

.box--success {
  @apply bg-green-200 dark:bg-green-200 text-gray-800;
}

.box--info {
  @apply bg-primary-200 dark:bg-primary-200 text-gray-800;
}

.box--gray {
  @apply bg-gray-100 dark:bg-gray-900 border-gray-100 dark:border-gray-900;
}

.box--gray .box-header {
  @apply border-b border-gray-200 dark:border-gray-800; 
}

.box--transparent {
  @apply bg-transparent dark:bg-transparent border-transparent dark:border-transparent;
}

/* 
Specific Boxes Styles 
*/
.box-share2earn {
}


/* 
Popper
-------------------------------*/
.popper {
  @apply z-50 flex flex-col w-full h-full relative py-2 rounded-md shadow-md;
  @apply border border-gray-200 dark:border-gray-900 bg-white dark:bg-gray-800;
  min-width: 100px;
  top: 32px;
}

.popper-close-btn {
  @apply absolute right-1 top-1 opacity-50 hover:opacity-100;
}

.popper-header,
.popper-body,
.popper-footer {
  @apply px-4;
}

.popper-header {
  @apply flex items-center pb-2 pt-2;
}

.popper-footer {
  @apply flex items-center pb-2;
}

.popper-author-info {
  @apply block top-0;
  width: 20rem;
  transition-property: all;
}

/* Popper TOC */
.popper-toc--container {
  @apply absolute z-10 transform bottom-12 w-80;
  right: calc(100% - 5.5rem);
}

.details-top-away .popper-toc--container {
  right: calc(100% - 2.5rem);
}

.popper-toc {
  @apply block top-0 overflow-x-hidden overflow-y-auto rounded-lg;
  max-height: 80vh;
  width: 20rem;
  transition-property: all;
}

/* 
Popper used as a menu
*/
.popper-item {
  @apply py-2 px-2 text-center cursor-pointer;
  @apply text-sm font-medium hover:text-primary-700 dark:hover:text-primary-500;
}


/* 
Disclosure
------------------------------- */
.disclosure {
  @apply border-b border-gray-200 dark:border-gray-600;
}

.disclosure--toggle {
  @apply flex items-center justify-between py-4 relative cursor-pointer pr-10;
  strong {
    @apply text-base font-medium;
  }
}

.disclosure--toggle-arrow {
  @apply absolute right-0 top-auto flex justify-center items-center transition-all;
  @apply w-6 h-6 rounded-full bg-gray-400 bg-opacity-20 dark:bg-opacity-20;
  .fas {
    @apply text-sm;
  }
}

.disclosure--toggle-arrow.open {
  @apply transform -rotate-180;
}

.disclosure--panel {
  @apply pb-4;
  p {
    @apply opacity-80;
  }
}

