@import '_presets';

/*
Lists Styles 
-------------------------------- */
.list-group {
}

.list-group-item {
  @apply flex justify-between items-center px-1 py-3;
  @apply border-b border-gray-100;
}

.list-group-sm .list-group-item {
  @apply px-1 py-2;
}

.list-group-v .list-group-item {
  @apply flex flex-col justify-between items-center px-1 py-4;
}


/* 
Metadata 
----------------------------------- */
.metadata-wrapper {
  @apply flex flex-wrap;
  @apply text-xs;
}

.metadata {
  @apply inline-flex justify-items-center items-center;
}

.metadata + .metadata {
  @apply ml-1;
  &::before {
    @apply block mr-1 text-xl leading-4;
    content: "\00B7";
  }
}

.metadata-wrapper_nodivide {
  .metadata + .metadata {
    @apply ml-1;
    &::before {
      @apply hidden;
    }
  }
}

.metadata-socialusername {
  @apply block text-base font-semibold mb-0.5 truncate;
  width: 240px;
}

.metadata-value--img {
  @apply hidden h-px-16 mr-1;
}

.project-metadata_type {

  &_token {
    @apply text-green-700;
  }
  &_dapp {
    @apply text-blue-700;
  }
  &_nft {
    @apply text-purple-700;
  }
  &_defi {
    @apply text-pink-700;
  }
}

.project-metadata_platform {
  @apply capitalize;
}

.project-comment_count {
  @apply px-2;
  @apply bg-gray-50 rounded;
  @apply dark:bg-gray-900;
}

.dark .project-comment_count svg {
  stroke: #fff;
  fill: #fff;
}


/*
Badges
-------------------------------- */
.badge {
  @apply text-xxs uppercase px-2 py-0.5 whitespace-nowrap mt-1;
  @apply bg-gray-400 bg-opacity-10 text-gray-400;
  @apply rounded-sm;

  &::before {
    display: none !important;
  }

  .icon {
    @apply mr-1 md:mr-2;
  }

  .cf {
    @apply md:text-base;
  }

}

a.badge {
  @apply hover:bg-opacity-20 hover:text-gray-700 dark:hover:text-white;
}

/* Type */
.badge-transparent {
  @apply bg-transparent;
}
.badge-dapp {
  @apply text-blue-500 hover:border-blue-500 hover:bg-blue-500 hover:text-white;
}

.badge-nft {
  @apply text-purple-500 hover:border-purple-500 hover:bg-purple-500 hover:text-white;
}

.badge-token {
  @apply text-yellow-500 hover:border-yellow-500 hover:bg-yellow-500 hover:text-white;
}

.badge-defi {
  @apply text-yellow-500 hover:border-yellow-500 hover:bg-yellow-500 hover:text-white;
}

/* Event */
.badge.meetup {
  @apply bg-yellow-50 text-yellow-500;
}

.badge.airdrop {
  @apply bg-blue-50 text-blue-500;
}

.badge.launchpad {
  @apply bg-purple-50 text-purple-500;
}

.badge.release,
.badge.intergration {
  @apply bg-green-50 text-green-500;
}

.badge.expired {
  @apply w-auto;
}

/*
Small Badges
*/
.badge-sm {
  @apply border-none rounded-sm rounded-tl-md rounded-br-md text-xxs px-2 pt-1px pb-1px;
  @apply bg-gray-100 border text-gray-500;
}

.badge-sm.badge-dapp {
  @apply text-blue-500 hover:bg-blue-500 hover:text-white;
}

.badge-sm.badge-nft {
  @apply text-purple-500 hover:bg-purple-500 hover:text-white;
}

.badge-sm.badge-token {
  @apply text-yellow-500 hover:bg-yellow-500 hover:text-white;
}

.badge-sm.badge-defi {
  @apply text-yellow-500 hover:bg-yellow-500 hover:text-white;
}

/* Platforms */
.badge-solana {
  @apply text-green-600 hover:border-green-600 hover:bg-green-600 hover:text-white;
  &:hover .cf-sol {
    @apply text-white;
  }
}

.badge-ethereum {
  @apply text-gray-600 hover:border-gray-600 hover:bg-gray-600 hover:text-white;
  &:hover .cf-eth {
    @apply text-white;
  }
}

.badge-cardano {
  @apply text-purple-600 hover:border-purple-600 hover:bg-purple-600 hover:text-white;
  &:hover .cf-ada {
    @apply text-white;
  }
}

.badge-ripple {
  @apply text-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white;
  &:hover .cf-xrp {
    @apply text-white;
  }
}

.badge-btc {
  @apply text-yellow-500 hover:border-yellow-500 hover:bg-yellow-500 hover:text-white;
  &:hover .cf-btc {
    @apply text-white;
  }
}


/*
Icons Styles
------------------------------ */

.icon {
  @apply inline-block;
  svg {
    width: 1em;
  }
}

.cf {
  @apply text-base;
}

.cf-btc {
  @apply text-yellow-600;
}

.cf-eth,
.cf-rip {
  @apply text-gray-900;
}

.cf-ada,
.cf-car {
  @apply text-purple-700;
}

.cf-bnb,
.cf-bsc {
  @apply text-yellow-400;
}

.cf-sol {
  @apply text-green-600;
}

.cf-dot,
.cf-pol {
  @apply text-pink-500;
}

.cf-tro {
  @apply text-red-700;
}

/* External Indicator */
.ico-external-link {
  @apply transition opacity-0 transform scale-0 group-hover:opacity-100 group-hover:scale-100;
}


/*
Info Row
-------------------------------- */
.info-row {
  @apply flex items-center justify-between relative;
}

.info-row + .info-row {
  @apply mt-2;
}

.info-row--title {
  @apply text-xs;
}

.info-row--value {
  @apply flex justify-center items-center;
  @apply text-sm;
}

.info-row--value .currency-ada {
  @apply ml-1 text-xs;
}


/* Currency
-------------------------------- */
.currency-ada svg {
  stroke: #111827;
}

.dark .currency-ada svg {
  stroke: white;
}


/* 
Avatars 
-------------------------------- */
.user-wallet_avatar,
.user-wallet_avatar_sm,
.user-wallet_avatar_xs {
  @apply inline-flex flex-shrink-0 justify-items-center items-center justify-center overflow-hidden;
  @apply rounded-full;
}

.user-wallet_avatar {
  @extend %Img40;
}

.user-wallet_avatar_sm {
  @extend %Img32;
}

.user-wallet_avatar_xs {
  @extend %Img24;
}

.user-wallet_avatar_green {
  @apply bg-green-500 bg-gradient-to-t from-green-500 to-green-400 text-green-50;
}

.user-wallet_avatar_red {
  @apply bg-red-500 bg-gradient-to-t from-red-500 to-red-400 text-red-50;
}

.user-wallet_avatar_purple {
  @apply bg-purple-500 bg-gradient-to-t from-purple-500 to-purple-400 text-purple-50;
}

.user-wallet_avatar_yellow {
  @apply bg-yellow-500 bg-gradient-to-t from-yellow-500 to-yellow-400 text-yellow-50;
}

.user-wallet_avatar_blue {
  @apply bg-blue-500 bg-gradient-to-t from-blue-500 to-blue-400 text-blue-50;
}


/*
Comment
-------------------------------- */
.comments-list {
  @apply py-4 mt-4 text-sm;
}

.comments-list-item {
  @apply mt-6 w-full relative;
}

.comment,
.comment_reply_form {
  @apply relative;
  &::before {
    @apply block absolute transition-all border-b-2 border-l-2 border-gray-500 border-opacity-10;
    top: 34px;
    left: 18px;
    width: 25px;
    height: calc(100% + 8px);
    content: " ";
    border-bottom-left-radius: 12px;
    z-index: 1;
  }
}

.no-reply .comment {
  &::before {
    opacity: 0;
  }
}

.no-reply .comment_reply_form {
  &::before {
    top: -45px;
  }
}

.comments-list-item:hover .comment,
.comments-list-item:hover .comment_reply_form {
  &::before {
    border-left-color: #EDE9FE;
    border-bottom-color: #EDE9FE;
  }
}

.comment {
  .user-wallet_avatar,
  .user-wallet_avatar_sm,
  .user-wallet_avatar_xs {
    z-index: 2;
  }
  .user-wallet_avatar {
    outline: 2px solid #fff;
  }
}

.comment_reply {
  @apply pt-6 pl-12;
  /* &::before {
    @apply bg-gray-200;
    display: block;
    position: absolute;
    top: 0px;
    left: 18px;
    width: 2px;
    height: 100%;
    content: " ";
  } */
}

.comment_reply:last-child {
  &::before {
    display: none;
  }
}

.comment_reply_form {
  @apply pt-6 pb-2 pl-12 relative;
}

.comment_reply_form textarea {
}

.comment-main {
  @apply flex-1;
}

.comment-text {
  @apply text-gray-900 text-opacity-95;
}