/* 
Set a default styles for core elements
*/
/*
Global Styles
*/
html {
  scroll-behaviour: smooth;
}

body {
  @apply bg-bluegray-50;
  padding-top: calc(var(--mainnav-height) + 1px);
}

/* 
Links 
*/
a {
  @apply transition-colors duration-200;
}

.link {
  /* Seperating each at.apply for clearer declaration */
  /* This is for visual option */
  @apply text-purple-700 hover:text-purple-900;
}

.link-text {
  @apply text-gray-700 hover:text-gray-900;
}

.link-text-bold {
  @apply text-gray-700 hover:text-gray-900;
  @apply font-medium;
}


/* 
Main Container
*/
.wrapper {
}

.container {
  @apply mx-auto px-4 md:px-8 max-w-screen-xl;
}

/* 
Main Grid
*/
.grid {
}

/* 
Page Layouts 
*/
.page-2-cols {
  @apply grid grid-cols-1 md:grid-cols-2;
}

.mainbody {
  @apply lg:col-span-8;
}

.sidebar {
  @apply -mx-4 md:mx-0 lg:col-span-4 lg:pl-8 lg:pt-8;
}


/* 
Section
*/
.section {
  @apply my-8;
}

.section.section-top {
  @apply mt-0 md:mt-8;
}

.section-inner {
  @apply p-0 -mx-4 md:mx-0 bg-white shadow-sm rounded;
}

.section-header {
  @apply flex justify-between items-center;
  @apply px-4 py-4 md:px-8 md:py-6;
}

.section-title {
  @apply text-lg lg:text-xl font-semibold;
  strong {
    @apply font-semibold;
    border-bottom: 1px dotted;
  }
}

.section-footer {
  @apply flex justify-between items-center;
  @apply px-4 py-4 md:px-8 md:py-6;
  @apply border-t border-gray-500 border-opacity-10;
}

.section-cta {
  @apply text-sm font-medium;
  @apply flex mt-0 justify-between items-center;
}

.section-cta .btn-group + .btn-group {
  @apply ml-4;
}