/* Navbar */
.navbar {
  @apply dark:bg-gray-900 dark:bg-opacity-90 dark:border-gray-800 dark:shadow-none;
}

.nav-item {
  @apply dark:text-white dark:text-opacity-60;
}

.nav-item-active {
  @apply dark:text-white dark:text-opacity-100;
}

/* Header */
.header {
  @apply dark:from-purple-900 dark:to-purple-700;
}

/* Widgets */
.widget {
}

/* Chart */
.dark .chart-area {
  fill: #E5E7EB;
  stroke: none;
  opacity: 0.02;
}

.dark .axis {
  @apply opacity-40;
  stroke-width: 1;
  stroke: #fff;
}

/* Cards */
.card-news:hover,
.card-project:hover,
.card-social:hover {
  @apply dark:bg-gray-800;
}

.card-text {
  @apply dark:text-gray-500;
}

.card:hover .card-text {
  @apply dark:text-gray-200;
}

/* End Dark Theme */
