.dark {

  /* Main */
  body {
    @apply bg-deepgray-200;
  }

  .section-inner,
  .widget {
    @apply bg-deepgray-50;
  }

  /* Navbar */
  .navbar {
    @apply bg-gray-900 bg-opacity-90 border-gray-800 shadow-none;
  }

  .nav-item {
    @apply text-white text-opacity-60;
  }

  .nav-item-active {
    @apply text-white text-opacity-100;
  }

  /* Header */
  .header {
    @apply from-purple-900 to-purple-700;
  }

  /* Widgets */
  .widget {
  }

  /* Chart */
  .chart-area {
    fill: #E5E7EB;
    stroke: none;
    opacity: 0.05;
  }

  /* Cards */
  .card-news:hover,
  .card-project:hover {
    @apply bg-gray-900;
  }

  .card-text {
    @apply text-gray-500;
  }

  .card:hover .card-text {
    @apply text-gray-200;
  }

/* End Dark Theme */
}