/* 
Dropdown
------------------------------- */
.dropdown {
  @apply z-50 flex flex-col;
  @apply bg-white dark:bg-gray-900 rounded shadow;
  min-width: 10rem;
}

.dropdown-section {
  @apply flex flex-col;
  @apply px-2 py-2;
  + .dropdown-section {
    @apply border-t border-t-gray-400 border-opacity-20;
  }
}

.dropdown-item {
  @apply px-2 py-2 cursor-pointer;
  @apply text-sm font-medium hover:text-primary-700 dark:hover:text-primary-500;
}

/* 
Popper
------------------------------- */
.popper {
  @apply z-50 flex flex-col w-full h-full relative;
  @apply bg-white dark:bg-gray-900 py-2 rounded shadow;
  min-width: 100px;
  top: 32px;
}

.pane-left .popper {
  top: -59px;
  width: 111px;
}

.popper-item {
  @apply py-2 px-2 text-center cursor-pointer;
  @apply text-sm font-medium hover:text-primary-700 dark:hover:text-primary-500;
}