.navbar {
  @apply relative flex flex-col w-full;
}

.navbar-main {
  @apply md:flex lg:flex flex-col w-full;
}

.nav-item {
  @apply flex whitespace-nowrap h-full text-sm leading-10 font-medium;
  @apply px-4;
  @apply text-gray-900 text-opacity-50;
  @apply dark:text-white dark:text-opacity-60;
  @apply hover:text-opacity-90;
}

.nav-item .icon {
  @apply w-4 mr-2;
}

.nav-item-active {
  @apply text-opacity-100;
  @apply dark:text-white dark:text-opacity-100;
}


/* 
Navbar for Mobile and Apps 
--------------------------------*/
.navbar-app {
  @apply fixed lg:hidden h-auto z-50;
  @apply bg-gray-50 dark:bg-gray-900 bg-opacity-90 dark:bg-opacity-90 backdrop-filter backdrop-blur;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-app .navbar-main {
  @apply h-auto py-1;
}

.navbar-app .nav-item {
  @apply flex-col w-full justify-center items-center text-xs text-gray-500;
}

.navbar-app .nav-item .icon {
  @apply text-lg leading-none mt-2 mb-1;
}

.navbar-app .nav-item--text {
  @apply text-xs font-normal;
}

.navbar-app .nav-item-active {
  @apply text-primary-700 dark:text-primary-400 text-opacity-100;
}
