/* 
Navbar 
--------------------------------------------- */
.navbar {
  @apply relative flex flex-col w-full h-full;
}

.navbar-main {
  height: var(--navbar-height);
  @apply flex justify-evenly lg:flex-col w-full lg:h-auto;
}

/* 
Nav Item
*/
.nav-item {
  @apply relative flex flex-col lg:flex-row items-center w-full h-full px-2 py-0.5 lg:py-2;
  @apply font-medium leading-normal whitespace-nowrap;
  @apply opacity-80 lg:opacity-50;
  @apply hover:opacity-100;
  @apply lg:h-9;
}

.nav-item .icon {
  @apply w-8 h-4;
  @apply relative inline-flex justify-center mt-1.5 mb-2 lg:my-0 lg:mr-1 lg:-top-0.5 text-center;
  @apply text-lg lg:text-base leading-none;
  .fa-duotone {
    @apply relative;
  }
}

/* Rada Nav */
.nav-item .icon-rada svg {
  transform: scale(1.18);  /* make the svg bigger */
}

.dark .nav-item .icon-rada svg {
  .inline-rec {
    fill: #D1D5DB;
  }
  .inline-circle {
    fill: #6B7280;
  }
  .inline-stroke {
    fill: #111827;
  }
}

.nav-item--text {
  @apply text-xxs lg:text-xs;
}

/* 
Nav Item Active 
*/
.nav-item-active {
  @apply text-primary-700 text-opacity-100 font-bold;
  @apply dark:text-primary-400 dark:text-opacity-100;
  @apply opacity-100;
}

.nav-item-active .icon-rada svg {
  .inline-circle {
    fill: #C4B5FD;
  }
  .inline-rec {
    fill: #6D28D9;
  }
}

.dark .nav-item-active .icon-rada svg {
  .inline-rec {
    fill: #6D28D9;
  }
  .inline-circle {
    fill: #C4B5FD;
  }
  .inline-stroke {
    fill: #111827;
  }
}

/* 
Nav Item Addons
*/
.nav-item--badge {
  @apply text-xxxs rounded-full absolute;
  @apply bg-red-500 text-white;
  padding: 3px;
  top: 10px;
  right: auto;
  left: auto;
}

@screen lg {
  .nav-item--badge {
    top: 0;
    right: 20px;
  }
}

.nav-item--divider {
  @apply hidden lg:block h-1 mt-2 mb-2 border-t border-gray-500 border-opacity-10;
}