.navbar {
  @apply bg-white bg-opacity-90 border-b border-gray-100 z-50 backdrop-filter backdrop-blur;
  @apply absolute inset-x-0 inset-y-0;
  height: var(--mainnav-height);
  transition: 0.3s all ease;
}

.scroll-down .navbar {
  transform: translateY(-60px);
  transition-delay: 0.8s;
}

.scroll-up .navbar {
  @apply fixed;
  top: 0;
  transform: translateY(0);
  transition-delay: 0.1s;
}

.navbar-main {
  @apply relative flex items-center justify-evenly;
  height: var(--mainnav-height);
}

.nav-item {
  @apply flex flex-col whitespace-nowrap h-full text-sm leading-10;
  @apply text-gray-900 text-opacity-50 font-medium;
  @apply hover:text-opacity-90;
}

.nav-item-active {
  @apply text-opacity-100;
}


/* 
Navbar for Mobile and Apps 
--------------------------------*/
.navbar-app {
  @apply fixed lg:hidden z-50;
  @apply bg-gray-50 dark:bg-gray-900 border-t border-gray-500 border-opacity-10;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-app .nav-item {
  @apply w-full justify-center items-center text-xs text-gray-500;
}

.navbar-app .icon {
  @apply text-lg leading-none mt-2 mb-1;
}

.navbar-app .nav-item--text {
  @apply text-xs font-normal;
}

.navbar-app .nav-item-active {
  @apply text-primary-700 dark:text-primary-400 text-opacity-100;
}