/* 
Pages
--------------------------------------------- */

/* 
Pages
--------------------------------------------- */
/* 
Page Layout
*/
.page {
  @apply w-full h-full relative;
  /* @apply max-w-screen-md m-auto; */
  /* @apply bg-white dark:bg-gray-900; */
}

.page-header {
  @apply md:flex;
}

.page-title {
  @apply text-xl md:text-2xl font-semibold mb-1;
}

.page-back {
  @apply flex items-center;
}

.pane-content--sec--top .page-back,
.page .page-back {
  @apply -ml-2 md:-ml-1 xl:ml-3;
}

.page-tabs {
  @apply flex text-sm;
}

/* .page-details .page-tabs {
  @apply flex; Temporary Hide the Tab on Home
} */

.page-back + .page-tabs {
  @apply ml-2
}

/* Page Full */
.page-full {
  @apply flex justify-center px-2 py-4 lg:py-8;
  @apply bg-white dark:bg-gray-900;

  .page-full--inner {
    @apply flex flex-col w-full h-full max-w-screen-sm;
    .card {
      @apply h-auto;
    }
  }

  .page-section {
    @apply pt-4;
  }

  .card + .card {
    @apply mt-4 md:mt-8;
  }

  .post-content {
    @apply px-2;
  }
}


/*
Empty State - About Page
*/
.page-about {
  @apply flex flex-col justify-center h-full relative max-w-sm m-auto;
  @apply text-sm;
}

.page-about-deco {
  @apply hidden absolute float-right z-0;
  background-image: url("https://source.unsplash.com/collection/1459961/1600x900");
}

@media screen and (min-height: 768px) {
  .page-about-deco {
    @apply block;
  }
}

.page-about-content {
}

.page-about p {
   @apply mb-4 text-gray-400;
}

.page-about h3 {
  @apply font-semibold text-lg mb-4 text-gray-600 dark:text-gray-300;
}

.page-about p + h3 {
  @apply mt-8;
}

.page-about u {
  @apply font-semibold;
  text-decoration: none;
}

.page-about-content--section {
  @apply pb-2;
  .icon {
    @apply hidden justify-center items-center flex-shrink-0 text-sm mr-4 -ml-10 rounded-full;
    width: 28px;
    height: 28px;
  }
}

.content-section--1 .icon {
  @apply bg-purple-100 text-primary-700;
}

.content-section--2 .icon {
  @apply bg-yellow-100 text-yellow-500;
}

.about-social {
  @apply flex items-center space-x-4 mt-4;
}

.about-social a {
  @apply flex flex-col justify-center items-center w-px-32 h-px-32 rounded-full;
  @apply bg-gray-400 bg-opacity-10 text-gray-700 dark:text-gray-200;
  @apply hover:bg-primary-500 hover:text-white;
}

.about-social i {
  @apply text-base;
}

.about-links {
  @apply flex mb-4 pt-4;
  li {
    @apply flex;
  }
  li + li {
    @apply ml-2;
  }
  li + li::before {
    @apply block mr-2 text-xl leading-5 opacity-50;
    content: "\00B7";
  }
}

.about-links a {
  @apply text-gray-400 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300;
}