
.projects--wrapper{
  @apply md:p-3 grid grid-cols-1 gap-x-6 gap-y-2 md:grid-cols-3 md:gap-y-6 md:p-4;
}
.projects--wrapper .card-project {
  @apply border rounded-lg  border-gray-200 dark:bg-gray-800 dark:border-gray-900;
}
.project-thumb--img {
  @apply object-cover absolute top-0 rounded-lg lg:rounded-none;  
}

.project-thumb--wrapper {
  @apply relative object-cover;

  padding-top: 56.25%;  
}
.is-open .project-thumb {
  @apply w-full md:w-1/2 md:pr-2 overflow-hidden rounded-lg;
}
.project-content--meta {
  @apply md:mt-2;
}

.projects--wrapper.single {
  @apply md:grid-cols-1;
}
.card-project .list-pair {
  @apply mb-1;
}
.projects--wrapper.single .card--body {
  @apply flex;
}

.projects--wrapper .project-content--meta {
  @apply flex flex-col;
}

.project-content--meta{
  @apply p-4;
}
.projects-grid .project-content--meta{
  @apply relative -mt-11;
}
.is-open .project-content {
  @apply md:flex w-full;
}

.projects--wrapper.single  .project-content--meta {
  @apply flex-shrink-0 flex-grow md:w-1/2;
}
.project-desc{
  @apply text-sm my-1;
}
.projects--wrapper .card--wrapper {
  @apply mt-2 transition-shadow transition-transform  overflow-visible ;
}
.card--wrapper .card--header {
  @apply text-center relative pb-2 pt-4;
}
.projects--wrapper .card--footer{
  @apply rounded-b-lg;
}
.projects--wrapper .card--body {
  @apply flex flex-col;
}
.card--header .token-logo {
  width: 40px;
  height: 40px;
  @apply block absolute top-0 left-1/2 p-0.5 overflow-hidden  rounded-full border-2 border-white shadow-lg;
  margin-left:-20px;
  margin-top:-26px;
  background:#fff;
}
.projects--wrapper .card--header h3,.projects--wrapper .card--header a {
  @apply flex mx-auto;
}
.projects--wrapper .card--wrapper:hover {
  @apply shadow-md border-purple-500;
}

.label.private {
  @apply bg-purple-500 text-white;
}
.label.public {
  @apply bg-green-500 text-white;
}

.btn-primary.is-closed {
  @apply bg-gray-300 text-gray-400 dark:bg-gray-700 dark:text-gray-500 w-full;
}
.btn-primary.is-open {
  @apply md:ml-4 flex-shrink-0 flex-grow mt-4 flex items-center;
}
.btn-primary.is-open  {
  @apply !mt-0;
}
.btn-primary.is-open span {
  @apply mx-auto uppercase;
}
.card-project.is-open {
  @apply p-0;
}
.project-title  {
  @apply md:text-2xl text-base pb-2 md:py-2;
  @apply flex flex-col relative;
}

.project-type {
  @apply absolute right-0 bottom-3;
}
.projects--wrapper.single .project-title  {
  @apply md:flex-row md:items-center;
}
.projects--wrapper.single .project-title--token-name {
  @apply md:ml-2;
}
.projects-grid .project-title--token-name {
  @apply mt-2 text-base font-semibold;
}
.project-title--token-logo {
  @apply flex items-center;
}
.project-desc {
  @apply opacity-90;
}

/* .list-pair:first-child{
  @apply md:mt-2;
} */
.is-open .project--cta {
  @apply md:mt-4 md:mb-0  md:flex;
}
.is-open .countdown--wrapper {
  @apply text-center my-4 md:w-1/2 md:my-0;
}
.is-open .btn-primary {
  @apply md:w-1/2;
}

.s2e-illustration {
  width:200px;
  height:248px;
  background-size:150px 248px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image:url("/images/launchverse-s2e.png");
  @apply mx-auto;
}
.dark .s2e-illustration{
  background-image:url('/images/launchverse-s2e-dark.png');
}

.whitelist-nav {
  @apply flex;
}
.whitelist-nav > li {
  @apply mr-2 flex items-center py-2 rounded-full;
}
.whitelist-nav a {
  @apply rounded-full text-gray-500 uppercase text-xs tracking-wide px-4;
}
.whitelist-nav .is-active {
  @apply bg-gray-100 dark:bg-gray-900;
}
.whitelist-nav .is-active a {
  @apply text-gray-700 dark:text-gray-300 
}
.whitelist-nav span {
  @apply bg-green-700 text-green-100 px-2 py-0.5 rounded-full text-xs mr-3 -ml-2;
}
.project-card--container{
  @apply min-h-full w-full mx-auto px-4 py-6 md:p-6 lg:p-10 z-10;
  @apply bg-white dark:bg-gray-800;
}
.wallet-item {
  @apply px-2 mx-1 text-xs text-center flex-grow-0 w-24;
}
.wallet-option {
  @apply relative mx-auto;
}
.wallet-option {
  @apply border-4 border-transparent;
}
.wallet-item.checked .wallet-option{
  @apply border-4 border-green-600 rounded-full;
}
.wallet-item.checked {
  @apply text-green-500;
}
.wallet-step {
  @apply flex items-center;
}
