/* Project Card 
--------------------------------------- */
.card-project {
  @apply cursor-pointer shadow-sm hover:shadow-lg transition-all rounded-lg;
  @apply bg-white dark:bg-gray-800 border border-transparent;
  @apply hover:border-gray-100 dark:hover:border-gray-700 hover:-translate-y-1;
}

/* 
Title
*/
.project-title  {
  @apply text-base font-medium;
  @apply flex flex-col md:flex-row items-center relative mb-2;
}

.project-title--token-logo {
  @apply flex items-center w-8 h-8 rounded-full bg-white p-1 mr-2;
}

/* 
Card Thumb + Type + Countdown
*/
.project-thumb {
  @apply relative rounded-lg overflow-hidden;
}

.project-thumb--img {
  @apply object-cover rounded-lg lg:h-52 lg:w-full;  
}

.project-thumb--wrapper {
  @apply relative;
}

/* Types */
.project-type {
  @apply absolute top-4 left-4;
}

.project-type .label {
  @apply text-xs px-4 py-2 shadow rounded-full;
  @apply bg-white bg-opacity-90;
  + .label {
    @apply ml-2;
  }
}

.project-type .label.featured {
  /* @apply bg-gradient-to-br from-primary-500 to-primary-700 text-white; */
  @apply bg-primary-700 text-white;
}

.project-type .label.private {
  @apply bg-purple-500 text-white;
}

.project-type .label.public {
  @apply text-green-500;
}

.project-type .label.community {
  @apply text-green-500;
}

/* Logo */
.project-logo {
  @apply w-20 h-20 mr-4;
  @apply flex justify-center items-center; 
}

/* Countdown */
.card-project .countdown-mini--wrapper {
  @apply absolute bottom-0 rounded-b-lg;
}

/* 
Card Content
*/
.project-content {
  @apply flex flex-col;
}

.project-content--meta {
  @apply p-4 flex flex-col items-stretch h-full;
}

.project-desc {
  @apply text-sm line-clamp-3 mb-4 h-10 opacity-70;
}
 
.project-fields {
  @apply text-base;
}

.project-fields .list-pair {
  @apply mb-1;
}

.project--cta {
  @apply mt-auto;
}

/* Status */
.project-status .label {
  @apply rounded-full px-2 py-1;
  @apply bg-gray-200 text-gray-700;
}

.project-status .label-coming {
}

.project-status .label-whitelisting {
  @apply bg-purple-500 text-white;
}

.project-status .label-open {
  @apply bg-green-500 text-white;
}


/* Project Card - Large
--------------------------------------- */
.card-project-lg {
  @apply flex;
}

/* 
Title
*/
.card-project-lg .project-title  {
  @apply text-lg md:text-xl md:flex-row;
}

/* 
Card Thumb 
*/
.card-project-lg .project-thumb {
  @apply w-full md:w-1/2;
}

/* 
Card Content
*/
.card-project-lg .project-content {
  @apply flex-row;
}

.card-project-lg .project-desc {
  @apply line-clamp-4 mb-4 h-auto;
}

.card-project-lg .project-content--meta {
  @apply flex-shrink-0 flex-grow md:w-1/2 p-8;
}

.card-project-lg .card--body {
  @apply flex;
}

.card-project-lg .project-title  {
  @apply md:flex-row md:items-center;
}

.card-project-lg .project-title--token-name {
}

.card-project-lg .project-content {
  @apply md:flex w-full;
}


/* Project Card - small
--------------------------------------- */
.card-project-sm {
  @apply flex relative;
}

.card-project-sm .project-content {
  @apply flex flex-col w-full space-x-4 items-center;
}

.card-project-sm .project-content--meta {
  @apply flex flex-col lg:flex-row w-full lg:pr-24;
}

.card-project-sm .project-title {
  @apply flex-row pr-24 lg:pr-0 lg:w-2/6 mb-0 flex-shrink-0;
}

.card-project-sm .project-title--token-name {
  @apply line-clamp-1;
}

.card-project-sm .project-title--token-logo {
  @apply w-10 h-10;
}

.card-project-sm .project-type {
  @apply static;
}

.card-project-sm .project-type .label {
  @apply px-2 py-1;
}
 
.card-project-sm .project-fields {
  @apply flex flex-wrap md:flex-nowrap flex-shrink-0 lg:w-4/6 space-x-0 lg:space-x-6 lg:justify-evenly items-baseline content-start;
  @apply ml-0 mt-2 md:ml-12 lg:ml-0 lg:mt-0;
}

.card-project-sm .list-pair {
  width: 48%;
  @apply flex-col mb-0 text-xs md:w-full;
}

.card-project-sm .list-key {
  @apply w-full;
}

.card-project-sm .progress-bar {
  @apply w-1/6;
}

.card-project-sm .project-status {
  @apply absolute right-6 top-6 lg:top-auto;
}

/* Projects List
--------------------------------------- */
.projects-list {
  @apply grid grid-cols-1 gap-x-6 gap-y-2 md:grid-cols-3 md:gap-y-6;
}

.projects-list.single {
  @apply md:grid-cols-1;
}

.projects-table {
  @apply grid grid-cols-1 gap-y-2;
}


/* Pools Container
--------------------------------------- */
.pools-container {
  @apply cursor-pointer shadow-sm hover:shadow-lg transition-all rounded-lg overflow-hidden;
  @apply bg-white dark:bg-gray-800;
  @apply hover:border-gray-100 dark:hover:border-gray-700;
  @apply bg-no-repeat bg-cover;
  + .pools-container {
    @apply mt-4;
  }
}

.pools-container--toggle {
  @apply flex items-center px-6 py-2 space-x-4 relative;
  @apply text-white bg-gray-900 dark:bg-gray-900 bg-opacity-70;
}

.pools-container--toggle-arrow {
  @apply absolute right-8 top-auto flex justify-center items-center transition-all;
  @apply w-10 h-10 rounded-full bg-white bg-opacity-20;
  .fas {
    @apply text-lg;
  }
}

.pools-container--toggle-arrow.open {
  @apply transform -rotate-180;
}

.pools-container .project-title {
  @apply mt-10;
}

.pools-container--toggle h4 {
  @apply font-semibold text-2xl;
  text-shadow: 0 1px 1px rgba(0,0,0,1);
}

.pools-container--toggle .badge-coin {
  @apply font-normal text-sm py-1 opacity-100 relative -top-0.5 ml-3 rounded-md shadow-none;
  @apply border-white text-white;
  text-shadow: none;
}

.pools-container--panel {
  @apply p-8;
  @apply bg-gray-900 dark:bg-gray-900 bg-opacity-50;
}

/* Links */
.project-links {
}
.project-links ul {
  @apply flex space-x-2;
}

.project-links a {
  @apply flex justify-center items-center w-10 h-10 rounded-full text-xl transition;
  @apply opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20;
}

/* Countdown  */
.pools-container .countdown-mini--wrapper {
  @apply top-0 bottom-auto rounded-b-none rounded-t-lg text-sm;
  @apply py-2 bg-transparent border-b text-gray-800 font-normal;
}

.pools-container .countdown--mini--body time {
  @apply font-semibold;
}
.pools-container .countdown--mini--body span {
  @apply opacity-70;
}


/* Projects Section
--------------------------------------- */
.projects-section {
  @apply mt-8 md:mt-16;
}

.projects-section--header {
  @apply text-center mb-4;
  h2 {
    @apply text-3xl font-altsans font-semibold;
  }
}

.projects-section--subheader {
  @apply text-center mb-4 mt-8 relative;
  h3 {
    @apply relative inline-block text-sm tracking-widest font-altsans uppercase z-10 rounded-full px-4 py-1;
    @apply bg-yellow-400 text-gray-700 border-4 border-gray-50;
  }
  &::before {
    @apply block absolute bottom-4 h-px-1 w-full bg-gray-300 z-0;
    content: " ";
  }
}

.dark .projects-section--subheader {
  h3 {
    @apply border-gray-800;
  }
  &::before {
    @apply bg-gray-700;
  }
}


.projects-list .card--wrapper {
  @apply mt-2 overflow-visible ;
}

.card--wrapper .card--header {
  @apply text-center relative pb-2 pt-4;
}

.projects-list .card--footer {
  @apply rounded-b-lg;
}

.projects-list .card--body {
  @apply flex flex-col;
}

.card--header .token-logo {
  width: 40px;
  height: 40px;
  @apply block absolute top-0 left-1/2 p-0.5 overflow-hidden  rounded-full border-2 border-white shadow-lg;
  margin-left:-20px;
  margin-top:-26px;
  background:#fff;
}

.projects-list .card--header h3,.projects-list .card--header a {
  @apply flex mx-auto;
}

.projects-list .card--wrapper:hover {
  @apply shadow-md border-purple-500;
}


.whitelist-nav {
  @apply flex;
}

.whitelist-nav > li {
  @apply mr-2 flex items-center py-2 rounded-full;
}

.whitelist-nav a {
  @apply rounded-full text-gray-500 uppercase text-xs tracking-wide px-4;
}

.whitelist-nav .is-active {
  @apply bg-gray-100 dark:bg-gray-900;
}

.whitelist-nav .is-active a {
  @apply text-gray-700 dark:text-gray-300 
}

.whitelist-nav span {
  @apply bg-green-700 text-green-100 px-2 py-0.5 rounded-full text-xs mr-3 -ml-2;
}


.project-card--container {
  @apply min-h-full w-full mx-auto px-4 py-6 md:p-6 lg:p-10 z-10;
  @apply bg-white dark:bg-gray-800;
}

.wallet-item {
  @apply px-2 mx-1 text-xs text-center flex-grow-0 w-24;
}

.wallet-option {
  @apply relative mx-auto;
}

.wallet-option {
  @apply border-4 border-transparent;
}

.wallet-item.checked .wallet-option{
  @apply border-4 border-green-600 rounded-full;
}

.wallet-item.checked {
  @apply text-green-500;
}

.wallet-step {
  @apply flex items-center;
}

/* MISC 
----------------------------------------------*/
.s2e-illustration {
  width:200px;
  height:248px;
  background-size:150px 248px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image:url("/images/launchverse-s2e.png");
  @apply mx-auto;
}
.dark .s2e-illustration{
  background-image:url('/images/launchverse-s2e-dark.png');
}
