/*
Typography Styles 
*/

/* 
Core Contents
----------------------------------- */
body {
  @apply text-gray-800 dark:text-gray-200;
}

.text-color-title,
.comment-text {
  @apply text-gray-800 dark:text-gray-200;
}

.text-color-desc,
.metadata-wrapper,
.navbar-search--input::placeholder,
.comment-footer {
  @apply text-gray-800 text-opacity-50 dark:text-gray-200 dark:text-opacity-50;
}

strong {
  @apply font-semibold;
}

/* Headings
-----------------------------------*/
h2.heading-2 {
  @apply text-lg font-semibold;
}


/* 
Post Content Typo
----------------------------------- */
.post-title h1 {
  @apply text-xl font-semibold;
}

.post-detail-media .post-content--text {
  @apply whitespace-pre-wrap;
  word-break: break-word;
}

.post-content p,
.post-content ul,
.post-content ol,
.post-content figure, 
.post-content blockquote,
.post-content hr,
.post-content table,
.post-content iframe {
  @apply mb-4 max-w-full;
}

.post-content a {
  word-break: break-word;
}

.post-detail-media .post-content a {
  word-break: break-all; /* Fix Youtube content */
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content .pTitle,
.post-content .pHead {
  @apply font-semibold mb-4;
}

.post-content h2,
.post-content .pTitle {
  @apply text-lg;
}

.post-content h2.text-2xl {
  @apply text-2xl;
}

.post-content * + h2,
.post-content * + .pTitle {
  @apply mt-8;
}

.post-content h3,
.post-content .pHead {
  @apply text-base;
}

.post-content h4 {
  @apply text-base;
}

.post-content {
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong {
    @apply font-semibold;
  }
}

.post-content ul,
.post-content ol,
.post-rada ol,
.post-rada ul {
  @apply ml-8 pl-2;
  list-style: revert;
}

.post-content li,
.post-rada li {
  @apply py-1;
}

.post-content img {
  @apply max-w-full text-center mx-auto rounded;
}

.post-content img:first-child {
  @apply w-full max-h-80 object-cover;
}
.post-content figcaption,
.post-content .pCaption {
  @apply text-center mt-2 text-xs;
}

.post-content pre {
  @apply whitespace-pre-wrap;
}

.post-content blockquote,
.post-content blockquote.twitter-tweet {
  @apply border-l-4 border-purple-500 px-4 relative;
  @apply font-semibold;
}

.post-content blockquote p:first-child {
  @apply mt-0;
}

.post-content blockquote p:last-child {
  @apply mb-0;
}

.post-content blockquote.twitter-tweet {
  @apply bg-blue-50 dark:bg-blue-900 dark:bg-opacity-50 border border-gray-400 border-opacity-40 font-normal rounded py-4;
  p {
    @apply !mb-2;
  }
  p:last-child {
    @apply font-semibold;
  }
}

/* Tweaks */
.post-content blockquote.twitter-tweet,
.post-content .wp-caption {
  @apply !w-full;
}

.post-content blockquote.twitter-tweet p:first-child:before {
  @apply block float-right relative right-0 -top-1;
  @apply text-blue-500 text-lg rounded-sm;
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}

.post-content .twitter-tweet-rendered {
  @apply !my-4 rounded-xl overflow-hidden;
}

.post-content .twitter-tweet-rendered iframe {
  @apply mb-0;
}

.post-content .wp-smiley {
  @apply hidden;
}

.post-content .related-list__title {
  @apply font-semibold;
}

/* Hide unwanted elements */
.post-content {
  .tdb_single_post_share,
  .tdb_breadcrumbs,
  .tdb_single_categories,
  .tdb-single-title,
  .tdb-post-meta {
    @apply hidden;
  }
}
