/** Badges, labels, messages, step indication, ect **/

/* Fields */
.field {
  @apply flex flex-wrap justify-between items-center;
}

.field-label {
  @apply w-full lg:w-auto mb-1 lg:mb-0;
}

.field-label--text {
  @apply opacity-50 text-sm;
}

.spin-10 {
  animation: spinner 5s 1s infinite;
}
@keyframes spinner {
  0{
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*** labels ***/
.label {
  @apply px-2 py-1.5 items-center justify-center rounded-full;
  @apply text-2xs font-medium uppercase tracking-wide;
  @apply bg-gray-200 dark:bg-gray-700;
}

.label--active,
.label--success,
.label--green,
.label.public {
  @apply bg-green-500 text-white dark:bg-green-500 dark:text-white;
}

.label--warning {
  @apply bg-red-500 text-white dark:bg-red-500 dark:text-white;
}

.label--yellow {
  @apply bg-yellow-500 text-white dark:bg-yellow-500 dark:text-white;
}

.label--primary {
  @apply bg-primary-500 text-white dark:bg-primary-500 dark:text-white;
}


.label--inactive {
  @apply bg-gray-400 text-gray-200;
}

.label--neutral {
    @apply bg-gray-300 text-gray-700 dark:bg-gray-300;
}

/** steps **/

.card--header {
  @apply px-3 py-2 font-medium lg:px-6 lg:py-3 flex items-start text-gray-600 dark:text-gray-400;
  @apply text-base rounded-t-lg bg-gray-100 dark:bg-gray-900 border-gray-200;
}

.card--wrapper {
  @apply rounded-lg border bg-gray-100 dark:bg-gray-900 border-gray-200 overflow-hidden dark:border-gray-800 flex flex-col;
}

.step--header {
  @apply items-center mb-3;
  h3 {
    @apply font-medium;
  }
}

.step--wrapper {
  @apply p-3 lg:p-5 dark:bg-gray-800 sm:p-3 flex flex-col;
}


.card--body {
  @apply text-gray-800 rounded-t-lg bg-white dark:text-gray-400 dark:bg-gray-800 overflow-hidden flex-shrink-0 flex-grow;
}

.card--footer {
  @apply bg-white border-t border-t-gray-200 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-500  dark:border-opacity-10;
}

.step--indicator {
  @apply mr-3 py-1.5 flex-shrink-0 w-7 h-7;
  @apply bg-gray-200 text-center dark:bg-gray-700 rounded-full uppercase font-semibold text-xs text-gray-400;
}

.sep {
  @apply border-b border-gray-100 dark:border-gray-900 opacity-60;
}

/* .empty-state--illustration {
    @apply max-w-lg bg-center bg-no-repeat mx-auto;
    background-image: url(/images/rader-empty.svg);
    padding-bottom:100%;
}
.dark .empty-state--illustration {
    @apply max-w-sm bg-top bg-no-repeat;
    background-image: url(/images/empty-dark.svg);
    padding-bottom:100%;
    background-size:100%;
} */

.secondary-icon-color {
    opacity:.6;
}

.list-pair {
  @apply flex text-sm items-baseline;
}

.list-key {
  @apply w-1/3 mt-1 opacity-60 text-xs capitalize;
}

.list-value {
  @apply text-right;
}



/* Video embed 
--------------------------------*/
.video-container { 
  @apply relative w-full h-0 overflow-hidden;
  padding-bottom: 56.25%; 
  padding-top: 30px; 
}

.video-container iframe, .video-container object, .video-container embed {
  @apply absolute w-full h-full top-0 left-0 }

  /* Steps 
  ------------------------------*/
  .step-wrapper {
    
  }


/* Effects
--------------------------------*/

/* glassmorphism : refefence only. define in actual element
@screen 2xl {
  .glassmorphism {
    @apply bg-opacity-95 dark:bg-opacity-80 backdrop-blur;
  }
} */

.fadein {
  animation: fadein 400ms linear;
}


/* Todo: Organizing Later
--------------------------------*/
/* Countdown */
.countdown-mini--wrapper {
  @apply text-xs flex justify-between items-center px-4 w-full;
}

.countdown--mini {
  @apply flex;
  h5 {
    @apply p-1;
  }
}

.countdown--mini--body {
  @apply p-1 flex text-center;
}

.countdown--mini time {
  @apply slashed-zero tabular-nums;
}

.countdown--mini--body span {
  @apply opacity-60;
}

.list-header {
  @apply font-semibold;
}

.winners {
  @apply max-w-full mx-auto text-sm overflow-hidden;
}
.winners li {
  @apply flex opacity-80 border-b border-gray-100 dark:border-gray-700 overflow-hidden;
}
.winner--no {
  @apply w-10 text-right px-2 py-2;
}
.winner--address {
  @apply flex-shrink-0 flex-grow text-right px-2 py-2 overflow-ellipsis overflow-hidden;
}
.pagination {
  @apply ml-auto mr-0 flex mt-4;
}
.pagination li {
  @apply mx-1 ;
}
.pagination li:first-child{
  @apply ml-auto;
}
.pagination li a {
  @apply text-gray-500 px-2 py-1 border border-gray-200 dark:border-gray-900 rounded-md;
}
.pagination li a.current{
  @apply dark:bg-gray-900 bg-gray-100 text-gray-800 dark:text-gray-100;
}
.input-range--container {
  @apply pt-6 pb-6;
}
.input-range {
  @apply relative;
}
.input-range__track {
  @apply bg-gray-300 dark:bg-gray-600 h-1 rounded-lg relative;
}
.input-range__track.input-range__track--active {
  @apply bg-purple-600;
}
.input-range__slider-container {
  @apply w-4 h-4 rounded-full bg-purple-600 -top-1.5;
}
.input-range__label {
  @apply top-3 text-gray-500;
}
.input-range__label--min {
 @apply left-0 absolute;
}
.input-range__label--max {
  @apply right-0 absolute;
 }
.input-range__label--value {
  @apply absolute top-0;
}
.spinner {
  @apply absolute left-4 animate-spin mr-3 w-5 h-5 border-2 border-t-purple-200 border-l-purple-600 border-b-purple-600 border-r-purple-600 rounded-full;
}
.spinner-xl {
  @apply flex animate-spin w-16 h-16 border-8 border-t-purple-200 border-l-purple-600 
  border-b-purple-600 border-r-purple-600 rounded-full;
}
.message {
  @apply text-sm p-2 md:px-4 md:py-2 rounded-lg;
}
.message.warning {
  @apply bg-yellow-300 text-gray-600;
}
.message.success {
  @apply bg-green-300 text-green-800;
}
.message.warning .message-icon {
  @apply text-yellow-600;
}
.message.error {
  @apply bg-red-600 text-white;
}
.claim-timeline {
  @apply w-full justify-between flex flex-col md:flex-row ml-20 md:ml-0 mt-4 pl-2 md:pl-0 md:mb-2
  border-l-2 md:border-b-2 md:border-l-0 border-gray-300 dark:border-gray-600 md:h-auto;
}
.claim-timeline li {
  @apply text-center mr-auto -left-6 md:left-0 my-4 md:my-0 md:pt-0 md:mx-auto md:pb-6 relative flex flex-row-reverse md:flex-col 
  justify-start md:justify-center md:-bottom-10;
  .claim-text {
    @apply mb-1;
  }
  &:first-child{
    @apply mt-0 md:ml-0;
  span {
      @apply md:ml-0;
    }
  }
  &:last-child{
    @apply mb-0 md:mr-0;
    span {
      @apply md:mr-0;
    }
  }
 }
.claim-timeline span {
  @apply rounded-full mr-4 md:mx-auto w-8 h-8 border-2 bg-white border-gray-300 
  dark:bg-gray-800 dark:border-gray-600 flex items-center text-center;
  > * {
     @apply  mx-auto;
  }
}
.claim-timeline li.chcked {
  span { @apply bg-green-600 border-green-600 text-green-200; }
}
.claim-timeline .checkbox.current {
  @apply text-green-600 border-green-600;
}
.claim-timeline .label {
  @apply -left-16 top-1 md:left-auto md:top-auto;
  @apply absolute md:-bottom-1 md:left-1/2 md:-translate-x-1/2;
}