/** Badges, labels, messages, step indication, ect **/

/* Fields */
.field {
  @apply flex flex-wrap justify-between items-center;
}

.field-label {
  @apply w-full lg:w-auto mb-1 lg:mb-0;
}

.field-label--text {
  @apply opacity-50 text-sm;
}



/*** labels ***/
.label {
  @apply px-2 py-1.5 items-center justify-center rounded-full;
  @apply text-2xs font-medium uppercase tracking-wide 
}

.label--active {
  @apply bg-green-500 text-white;
}

.label--warning {
  @apply bg-red-500 text-white;
}

.label--inactive {
  @apply bg-gray-400 text-gray-200;
}

.label--neutral {
    @apply bg-gray-300 text-gray-700;
}

/** steps **/

.card--header {
  @apply px-3 py-2 font-medium lg:px-6 lg:py-3 flex items-start text-gray-600 dark:text-gray-400;
  @apply text-base rounded-t-lg bg-gray-100 dark:bg-gray-900 border-gray-200;
}

.card--wrapper {
  @apply rounded-lg border bg-gray-100 dark:bg-gray-900 border-gray-200 overflow-hidden dark:border-gray-800 flex flex-col;
}

.step--header {
  @apply items-center mb-3;
  h3 {
    @apply font-medium;
  }
}

.step--wrapper {
  @apply p-3 lg:p-5 dark:bg-gray-800 sm:p-3 flex flex-col;
}

.step--content {
  /* @apply pl-10; */
}

.step--indicator {
  @apply mr-3 py-1.5 flex-shrink-0 w-7 h-7;
  @apply bg-gray-200 text-center dark:bg-gray-700 rounded-full uppercase font-semibold text-xs text-gray-400;
}

.card--body {
  @apply text-gray-800 rounded-t-lg bg-white dark:text-gray-400 dark:bg-gray-800 overflow-hidden flex-shrink-0 flex-grow;
}

.card--footer {
  @apply bg-white border-t border-t-gray-200 dark:text-gray-400 dark:bg-gray-800 dark:border-t-gray-900;
}

.sep {
  @apply border-b border-gray-100 dark:border-gray-900 opacity-60;
}

/* .empty-state--illustration {
    @apply max-w-lg bg-center bg-no-repeat mx-auto;
    background-image: url(/images/rader-empty.svg);
    padding-bottom:100%;
}
.dark .empty-state--illustration {
    @apply max-w-sm bg-top bg-no-repeat;
    background-image: url(/images/empty-dark.svg);
    padding-bottom:100%;
    background-size:100%;
} */

.secondary-icon-color {
    opacity:.6;
}
.list-pair {
  @apply flex text-sm items-baseline;
}
.list-key {
  @apply w-1/2 mt-1 opacity-60;
}


/* Boxes 
-------------------------------*/
.box {
  @apply bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-700 rounded-lg;
  @apply text-sm flex flex-col;
}

.box-header {
  @apply p-4 lg:px-6 lg:py-4 text-base font-medium border-b border-gray-200 dark:border-gray-700; 
}
.box-body {
  @apply p-4 lg:p-6 flex-shrink-0 flex-grow;
}


/* Video embed 
--------------------------------*/
.video-container { 
  @apply relative w-full h-0 overflow-hidden;
  padding-bottom: 56.25%; 
  padding-top: 30px; 
}

.video-container iframe, .video-container object, .video-container embed {
  @apply absolute w-full h-full top-0 left-0 }

  /* Steps 
  ------------------------------*/
  .step-wrapper {
    
  }


/* Effects
--------------------------------*/

/* glassmorphism : refefence only. define in actual element
@screen 2xl {
  .glassmorphism {
    @apply bg-opacity-95 dark:bg-opacity-80 backdrop-blur;
  }
} */
