@import '_media';


/* Home Header */
.page-home .header {
}

.page-home .header .container-inner {
  @apply bg-primary-700 bg-no-repeat bg-right rounded-md shadow;
  background-image: url(/images/hero.svg);
  background-size: 80%;
}

/* Projects */
.project-metadata-wrapper {
  @apply flex flex-wrap items-center justify-items-center text-xs text-gray-900 text-opacity-50;
}

.project-metadata_submitter {
  @apply hidden;
}
 
.project-submitter {
  @extend %Img16;
  @apply rounded-full;
}

.project-comment_count {
  @apply flex items-center justify-items-center;
}

.project-comment_count .icon {
  @apply text-base;
}

.card-body-footer {
  @apply font-medium;
}

.card-footer .btn {
  transition-property: background;
}


/* 
Project Details
--------------------------------------------- */
.page-project_details {
  height: 100%;

  .mainbody,
  .mainbody > .container {
    @apply h-full; 
  }

  .page-header {
  }

  .page-header_main {
    @apply py-1 px-6;
  }

  .page-main {
    @apply flex-1; 
  }

  .page-sidebar {
    @apply w-72 max-h-full p-6 overflow-x-hidden overflow-y-auto; 
  }

}

.project-text_short {
  @apply text-base text-gray-900 text-opacity-75 line-clamp-1;
}