@import '_presets';

/* 
Layout 
--------------------------------*/
.main-layout {
  @apply flex flex-col lg:flex-row h-full w-full items-stretch;
  @apply max-w-screen-2xl 2xl:m-auto;
  @apply bg-white dark:bg-deepgray-50 2xl:bg-transparent 2xl:dark:bg-transparent 2xl:shadow-2xl;
  animation: fadein 0.4s ease-in;
}

.body-decor,
.body-decor--text {
  @apply hidden;
}

@screen 2xl {
  .body-decor {
    @apply block fixed inset-0 w-full h-full -z-1;
    @apply filter brightness-50;
    background-image: url("https://source.unsplash.com/collection/1459961/1600x900");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .body-decor--text {
    @apply block absolute right-4 bottom-4 px-4 py-2 rounded;
    @apply bg-gray-900 bg-opacity-10 text-white text-opacity-80 text-xs;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
  }
  .body-decor--text a {
    @apply hover:text-white hover:text-opacity-100 border-b border-b-white border-opacity-50 hover:border-opacity-100;
  }
}

/* 
Nav Panels 
*/
.pane-left {
  @apply flex flex-shrink-0 flex-col justify-between h-full;
  @apply border-r border-gray-100 dark:border-gray-800 z-50;
  @apply bg-gray-50 dark:bg-deepgray-100 2xl:bg-white 2xl:dark:bg-deepgray-100;
  @apply 2xl:bg-opacity-80 2xl:dark:bg-opacity-60 2xl:backdrop-blur;
  width: var(--paneleft-width);
  flex-basis: var(--paneleft-width);
}


.pane-left--bottom {
  @apply justify-between items-center p-2 space-y-2;
  .btn {
    @apply w-full justify-start flex-shrink-0;
  }
  .btn.btn-switch-lang {
    @apply justify-between;
  }
  .btn .icon {
    @apply w-px-16;
  }
  .btn .btn--text {
    @apply text-xs;
  }
}

/* 
Navbars on Mobile Tablet
*/
.pane-bottom {
  @apply flex justify-between w-full h-auto order-last;
  @apply bg-bluegray-50 border-r border-gray-400 border-opacity-10 z-50;
  @apply dark:bg-deepgray-100;
  flex-basis: var(--navbar-height);
}


/* 
Main Panels
*/
.pane-center {
  @apply flex flex-auto flex-col transition;
  flex-basis: 0;
}

/* @screen md {
  .pane-center {
    height: calc(100vh - var(--navbar-height) - var(--toolbar-height));
  }
}

@screen lg {
  .pane-center {
    @apply h-full;
  }
} */

.pane-center--top {
  @apply flex flex-shrink-0 m-0;
  @apply border-b border-gray-100 dark:border-gray-800 z-50;
}

.pane-center--main {
  @apply flex w-full h-full;
}

.pane-content {
  @apply w-full h-full;
  /* @apply flex flex-auto flex-wrap md:flex-nowrap h-full; */
  /* width: 0; Fix Layout */
}

.pane-content--main {
  @apply relative float-left w-full;
  @apply flex flex-col w-full h-full;
  @apply border-r border-gray-100 dark:border-gray-800;
}

@screen md {
  .pane-content--main {
    width: var(--main-width);
  }
}

/* @screen lg {
  .pane-content--main {
    width: 45%;
  }
} */


.pane-content--main--top,
.pane-content--sec--top {
  @apply flex px-4 justify-between items-center flex-shrink-0;
  @apply border-b border-gray-100 dark:border-gray-800;
  @apply bg-white dark:bg-deepgray-50;
  height: var(--toolbar-height);
}

/* 
Card List Area
*/
.pane-content--main--main {
  /* height: calc(100vh - var(--topbar-height) - var(--toolbar-height) - var(--navbar-height)); */
  @apply flex flex-auto flex-col w-full h-0 overflow-x-hidden overflow-y-auto;
  @apply bg-white dark:bg-deepgray-50;
}

@screen lg {
  .pane-content--main--main {
    height: calc(100vh - var(--toolbar-height));
  }
}

/* 
Reader / Page Area
*/
.pane-content--sec {
  @apply float-left w-full;
  @apply hidden flex-auto md:flex flex-col overflow-x-hidden overflow-y-auto;
}

@screen md {
  .pane-content--sec {
    width:  calc(100% - var(--main-width));
    height: calc(100vh - var(--topbar-height) - var(--toolbar-height));
  }
}

@screen lg {
  .pane-content--sec {
    /* width: 55%; */
    @apply h-full;
  }
}

@media (max-width: 768px) {
  .pane-content--sec.pane-content-active {
    @apply fixed flex;
    right: 0;
    top: var(--topbar-height);
    bottom: var(--navbar-height);
  }
}

.pane-content--sec--main {
  @apply w-full h-full;
  @apply bg-white dark:bg-deepgray-50;
}

/* 
Main Layout when scrolling
--------------------------------------------- */
@media (max-width: 768px) {

  .pane-center--top {
    transition: margin 150ms linear;
  }

  .list-away-top {
    .pane-center--top {
      margin-top: calc( -1 * var(--topbar-height));
    }
  }

  .list-away-top.page-details,
  body.page-details {

    .pane-content--sec.pane-content-active  {
      @apply top-0;
    }

    .pane-center--top {
      @apply hidden;
    }

    .page {
      @apply pt-9;
    }

    .page-back {
      @apply fixed top-0 w-full z-50;
    }
    
  }

  .details-top-away {
    .page-back {
      @apply shadow-sm;
    }
  }

}



/* 
Top & Tool Bars
--------------------------------------------- */
.topbar {
  @apply flex lg:hidden justify-between items-center px-4 w-full;
  height: var(--topbar-height);
}

.logo {
  @apply flex items-center justify-center;
}

.navbar .logo {
  @apply hidden lg:flex py-4;
}

.logo--img {
  @apply block w-auto h-10;
}

.topbar .logo--img {
  @apply w-px-24;
}

.logo--text {
  @apply bg-gradient-to-b from-purple-400 to-purple-700 font-semibold;
  @apply dark:from-purple-500 dark:to-purple-700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo--badge {
  @apply text-xxxs mt-0.5 opacity-50 border-b-2 border-gray-400 leading-3;
  letter-spacing: 2px;
}

.topbar .logo--badge {
  @apply ml-1.5 -mt-0.5;
}

/* Toolbar */
.pane-content--main--top .search-wrapper {
  /* max-width: 50%; */
  @apply md:max-w-none md:w-full;
}

.pane-content--main--top .cta-wrapper {
  @apply flex-shrink-0;
}


/* 
Tabbar (Comming Soon)
--------------------------------------------- */
.tabbar {
  @apply hidden md:flex justify-between px-4 w-full;
  height: var(--tabbar-height);
}

.tabbar-main {
  @apply flex justify-evenly items-center;
}

.tab-item {
  @apply flex flex-1 justify-center items-center px-6 h-full;
  @apply opacity-50;
}

.tab-item--active {
  @apply bg-primary-50 text-gray-800 opacity-100;
}

.tab-item--icon .cf {
  @apply text-xs mr-1;
}

.tab-item--icon .cf-ada {
  @apply text-sm;
}

.tab-item--text {
  @apply text-xs; 
}


/* 
Sidebar
--------------------------------------------- */
.sidebar {
  @apply xl:p-4;
}

/* 
Sections Layout
--------------------------------------------- */
.section {
  @apply p-4 md:p-6;
}

.section-header {
  @apply flex justify-between;
}

.section-title {
  @apply flex flex-wrap;
  @apply text-sm font-medium
}

.section-title strong {
  @apply font-medium;
  border-bottom: 1px dotted;
}

.section-body {
  @apply pt-4 md:pt-6;
}

.section-body.scrollbar {
  @apply flex flex-col w-full h-full overflow-x-hidden overflow-y-auto;
}

.section-footer {
  @apply flex justify-between items-center;
  @apply px-4 py-4 md:px-8 md:py-6;
  @apply border-t border-gray-500 border-opacity-10;
}

.section-cta {
  @apply text-sm font-medium;
  @apply flex mt-0 justify-between items-center;
}

.section-cta .btn {
  @apply text-sm font-normal;
}

.section-cta .btn-group + .btn-group {
  @apply ml-4;
}


/* 
Sections
--------------------------------------------- */
/* 
Media 
*/
.media-player {
}


/* 
Comments List 
*/
.section-comments {
  @apply border-t border-gray-500 border-opacity-10;
}

/* 
Pages
--------------------------------------------- */
/* 
Page Layout
*/
.page {
  @apply w-full h-full relative;
  /* @apply bg-white dark:bg-deepgray-50; */
}

.page-header {
  @apply md:flex;
}

.page-title {
  @apply text-xl md:text-2xl font-semibold mb-1;
}

.page-back {
  @apply flex items-center px-4 py-2.5 md:px-6 md:pb-2 md:mt-4;
  @apply bg-white dark:bg-deepgray-50 bg-opacity-80 backdrop-blur;
}


/* 
Post Details
--------------- */
.post {
}

.post-header {
  @apply flex flex-col;
}

.post-body {}

.post-detail {
  @apply pt-0;
}

/* 
Title 
*/
.post-title h1 {
  @apply text-lg lg:text-xl font-semibold;
  .badge {
    @apply relative -top-0.5 md:-top-1;
  }
}

.post-title--text {
  @apply text-gray-800 dark:text-gray-200 transition mr-2;
}

.post-title:hover .post-title--text {
  @apply text-primary-700 dark:text-primary-500;
}

.post-title .btn-post-link {
  @apply relative transition;
  top: -2px;
}

.post-title:hover .btn-post-link {
  @apply text-primary-700 dark:text-primary-500 opacity-100;
}

.post-detail-social .post-title {
  @apply line-clamp-2 overflow-ellipsis;
}

/* 
Metadata 
*/
.post-header .metadata-wrapper {
  @apply text-sm justify-between;
}

.post-header .metadata {
  @apply mt-1 mb-1;
}

.post-header .metadata-source .metadata-value {
  max-width: 160px;
  @apply whitespace-nowrap md:max-w-none overflow-hidden overflow-ellipsis;
}


/* 
CTAs 
*/
.post-detail .cta-wrapper {
  @apply flex text-gray-900 dark:text-gray-200;
}

.post-detail .cta-wrapper .btn {
  @apply text-sm leading-none relative;
}

.post-detail .cta-wrapper .btn-post-vote {
}

/*
Media
*/
.post-media {
  @apply w-full max-h-56 lg:max-h-72 overflow-hidden rounded mt-4;
}

.post-media--img {
  @apply object-cover w-full h-full;
}

.post-detail-media .post-media {
  @apply mt-0 mb-8 max-h-full;
}

/*
Content
*/
.post-content {
}

.post-detail-media .post-content--text {
  @apply whitespace-pre-wrap;
}

/* Post Actions */
.post-actions {
  @apply mt-4;
}

/* 
Components
--------------------------------------------- */
/* 
Popper
*/
.popper {
  @apply z-10 flex flex-col w-full h-full relative;
  @apply bg-white dark:bg-gray-900 py-2 rounded shadow;
  min-width: 100px;
  top: 32px;
}

.pane-left .popper {
  top: -59px;
  width: 111px;
}

.popper-item {
  @apply py-2 px-2 text-center cursor-pointer;
  @apply text-sm font-medium hover:text-primary-700 dark:hover:text-primary-500;
}

/* 
Dialogs 
*/
.dialog-outside-wrapper {
  @apply fixed inset-0 z-50 overflow-y-auto bg-white md:bg-bluegray-50 bg-opacity-100;
  @apply dark:bg-deepgray-100 dark:md:bg-deepgray-50;
}

.dialog-outside {
  @apply md:px-4 text-center bg-bluegray-50 dark:bg-gray-900;
}

.dialog {
  @apply max-w-2xl lg:max-w-4xl overflow-hidden text-left align-top md:align-middle transition-all transform;
  @apply text-left bg-bluegray-50 dark:bg-gray-900 md:shadow-2xl md:rounded;
}

.dialog-wrapper {
  @apply block lg:flex;
}

.dialog .divider {
  @apply relative my-6 text-center;
}

.dialog .divider::before {
  @apply absolute block w-full bg-gray-500 bg-opacity-20 -z-1;
  content: " ";
  height: 1px;
  bottom: calc(50% - 0.2rem)
}

.dialog .divider span {
  @apply bg-bluegray-50 dark:bg-gray-900 text-xs uppercase z-0 px-4;
}

/*
Empty State
*/
.empty-state {
  @apply p-4 md:p-8 xl:p-16 flex flex-col h-full;
  @apply text-sm;
  animation: fadein 1s ease-in;
}

.home-emptystate-deco {
  @apply hidden lg:block absolute inset-0 w-full h-full opacity-5 z-0;
}

.empty-state .empty-state-content {
  @apply opacity-50 transition-all;
  transition-duration: 1s;
}

.empty-state:hover .empty-state-content {
  @apply opacity-90;
}

.empty-state-content {
  @apply z-10;
}

.empty-state p {
  @apply mb-2;
}

.empty-state h3 {
  @apply text-base mb-2;
  @apply font-medium;
}

.empty-state p + h3 {
  @apply mt-4;
}

.about-social {
  @apply flex items-center space-x-4 mt-4;
}

.about-social a {
  @apply flex flex-col justify-center items-center w-px-32 h-px-32;
  @apply bg-gray-400 bg-opacity-20 rounded;
  @apply hover:bg-primary-700 hover:text-white;
}

.about-social i {
  @apply text-base;
}


/* 
Content Loader 
*/
.content-loader {
  @apply p-0;
}

.content-loader svg {
  @apply w-full opacity-50;
}

/* 
Tootips 
*/
.hasTooltip {
  @apply cursor-pointer;
  i {
    @apply ml-0.5 text-base;
  }
}

.__react_component_tooltip {
  @apply max-w-xs shadow-lg backdrop-filter backdrop-blur;
  padding: 4px 8px !important;
  background: #FEF3C7 !important;
  color: #111827 !important;
  font-size: 0.875rem !important;
  &::after {
    border-color: transparent !important;
  }
}


.__react_component_tooltip.show {
  
}


/*
Perfect Scrollbar
*/
.scrollbar {
  @apply relative overflow-x-hidden overflow-y-scroll;
  -webkit-overflow-scrolling: touch;
  /* -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; */
}

.scrollbar::-webkit-scrollbar {
  @apply w-2 h-2 bg-gray-50 dark:bg-gray-900;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
  border-radius: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-gray-700;
  border-radius: 12px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-500;
}


/* 
Uitilities 
*/
.no-padding {
  @apply p-0;
}

.no-padding-t {
  @apply pt-0;
}

.hidden {
  display: none;
}

.disabled {
  @apply opacity-50 pointer-events-none;
}

.nav-item.disabled {
  @apply opacity-20;
}

.search-not-found{
  @apply flex justify-center my-8;
}

 
/* 
Dragger  
*/
.pane-dragger {
  @apply hidden md:block absolute h-full w-2 -right-2 top-0 z-50;
  @apply border-l-2 border-dashed border-transparent hover:border-primary-500;
  cursor: col-resize;
}

.pane-dragger.dragging {
  user-select: none;
}