@import '_media';

.logo-text {
  @apply bg-gradient-to-r from-purple-700 to-yellow-500 font-semibold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
/* Home Header */
.page-home {
}

.page-home .header {
  @apply bg-purple-900 bg-gradient-to-br from-purple-900 to-blue-900;
}

.page-home .header .container-inner {
}


/* 
Card Layouts
--------------------------------------------- */
.category-list {
  .card {
    @apply flex-shrink-0;
    width: 200px;
  }
}

/* 
Sections
--------------------------------------------- */
/* 
Social 
*/
.section-socialposts  {
}

/* 
Project Details
--------------------------------------------- */
.page-project_details {

  @apply pt-4 md:pt-8;
  
  .mainbody,
  .mainbody > .container {
  }

  .page-header {
  }

  .page-header_main {
  }

  .page-header-l {

  }

  .page-header_r {
    @apply max-h-full;
  }

  .page-main {
    @apply flex-1; 
  }

  .page-sidebar {
    @apply w-64 max-h-full p-8; 
  }

  .project-icon {
    @apply shadow;
    @extend %Img104;
  }

  .project-metadata-wrapper .metadata {
    @apply mr-1 md:mr-2;
  }

}

.project-text_short {
  @apply text-sm md:text-base text-gray-900 text-opacity-70 line-clamp-2;
}


/*
Scrollbar
*/
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border-radius: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.2);
}

/*
Perfect Scrollbar
*/
.scrollbar.ps .ps__rail-x {
  height: 12px;
}

.scrollbar.ps .ps__thumb-x {
  @apply bg-white bg-opacity-10;
}

.scrollbar.ps .ps__rail-x:hover,
.scrollbar.ps .ps__rail-x:focus,
.scrollbar.ps .ps__rail-x.ps--clicking,
.scrollbar.ps .ps__rail-y.ps--clicking {
  @apply bg-white bg-opacity-10 rounded-full;
  height: 12px;
}

.scrollbar.ps .ps__rail-x:hover > .ps__thumb-x,
.scrollbar.ps .ps__rail-x:focus > .ps__thumb-x,
.scrollbar.ps .ps__rail-x.ps--clicking .ps__thumb-x {
  @apply bg-white bg-opacity-40;
  height: 8px;
}